@import '../app.scss';

.blockQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include tablet {
    height: 80vh;
    padding: 5rem 0;
  }
  @include mobile {
    padding: 0;
    margin: 1rem auto;
  }

  .quote-container {
    text-align: center;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
  }

  .quote {
    font-size: 5rem;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    font-family: 'Alex Brush', cursive;
    letter-spacing: 5px;

    @include mobile {
      font-size: 2rem;
      width: 90%;
      letter-spacing: 3px;
    }
  }

  .author {
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    color: #888;

    @include mobile {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}
