// App.scss
.app {
  padding: 20px;
  /* További stílusok... */
}

// footer.scss
.footer {
  background-color: #333; /* Sötétszürke háttér */
  color: #ccc; /* Világos szürke szöveg */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
    font-size: 24px;
    color: #ccc;
    /* További ikon stílusok... */
  }
}

.copy {
  font-size: 14px;
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .icons {
    margin-top: 10px;
  }
}