@import '../app.scss';

.navbar {
  height: 100px;
  z-index: 2;

  .nav-wrapper {
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    margin-right: 2rem;

    @include tablet {
      margin-right: 1.5rem;
    }
    .social {
      display: flex;
      gap: 20px;
      .icon {
        font-size: 2rem;
        color: #e7ba90;
      }
      @include tablet {
        gap: 10px;
      }

      img {
        width: 42px;
        height: 42px;
        @include tablet {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
