@import '../app.scss';

$fontSize: 5rem;

.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
  justify-content: center;

  h1 {
    font-size: $fontSize;
    font-weight: 600;
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 13rem;
    white-space: nowrap;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: rgb(231 186 144 / 20%);
  }

  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .text {
      position: absolute;
      max-width: 75%;
      bottom: 4%;
      left: -20%;
      z-index: 3;
      text-align: left;
      letter-spacing: 2px;
      text-align: center;
      p {
        font-size: 2.5rem;
        font-family: 'Alex Brush', cursive;
        line-height: 42px;
      }
    }

    .images {
      position: relative;

      img {
        filter: brightness(0.5);
        width: 730px;
        height: 680px;
        display: block;
        object-fit: contain;
      }

      img:last-child {
        position: absolute;
        top: 50%;
        left: 84%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: auto;
      }
    }
  }

  .work-btn {
    padding: 1rem;
    border: 1px dotted #e7ba90;
    margin: 3rem;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #e7ba90;
      color: white;

      transform: scale(1.1); /* Növelés 10%-kal */
    }
  }
}

@media screen and (max-width: 1024px) {
  .portfolio {
    padding: 6rem 0;
    .slidingTextContainer {
      font-size: 7rem;
    }
    .content {
      .text {
        left: 0%;
      }
    }
  }
}
@media screen and (max-width: 780px) {
  .portfolio {
    padding: 0;
    height: auto;

    .content {
      margin-top: 0;
      .images {
        img {
          width: 100%;
          height: auto;
        }
        img:last-child {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 316px;
        }
      }
      .text {
        width: 64%;
        bottom: 20%;
        left: 17%;

        p {
          font-size: 1rem;
          line-height: 25px;
        }
      }
    }
    .slidingTextContainer {
      font-size: 3rem;
      left: 50%;
      bottom: 80%;
    }
    .work-btn {
      font-size: 1rem;
    }
  }
}
