.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #848484;
  padding-bottom: 15rem;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5rem;

    p {
      text-align: right;
      font-size: 1.6rem;
      color: #0c0c0c;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 1px solid;
      color: #e7ba90;
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6rem;
    font-family: 'Alex Brush', cursive;
    color: #e7ba90;
    letter-spacing: 4px;
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;
    justify-content: center;

    .box {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 20px;

      img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        box-shadow: 20px -16px 5px #3a3a3a;
      }

      p {
        padding-top: 2rem;
        font-size: 1.3rem;
        color: #0c0c0c;
        font-weight: 500;
      }
    }
  }
}
@media (min-width: 1440px) {
  .services {
    height: 100%;

    .listContainer {
      flex-wrap: wrap;
      justify-content: center;
    }
    .box {
      flex: 0 0 calc(33.333% - 20px);
      border-left: none !important;
      margin: 20px;
      padding: 20px;
      flex: 0 !important;
    }
    .textContainer {
      margin-top: 0;
      padding-top: 8rem;
    }
    .titleContainer {
      padding: 3rem;
    }
  }
}
