.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #848484;
  padding: 2rem; /* Add padding to the services section */
}

.textContainer {
  align-self: flex-end;
  display: flex;
  flex-direction: column; /* Adjusted for proper stacking */
  align-items: flex-end; /* Align text to the right */
  margin-top: 2rem; /* Adjusted margin for spacing */

  p {
    font-size: 1.6rem;
    color: #0c0c0c;
    margin-bottom: 1rem; /* Add margin between text and hr */
  }

  hr {
    width: 100%; /* Adjusted to full width */
    border: none;
    border-top: 1px solid;
    color: #e7ba90;
    margin-top: 1rem; /* Adjusted margin for spacing */
    margin-bottom: 2rem; /* Adjusted margin for spacing */
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
  font-family: 'Alex Brush', cursive;
  color: #e7ba90;
  letter-spacing: 4px;
  margin-bottom: 2rem; /* Add margin between title and list container */
}

.listContainer {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 90vh;

  .box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

    img {
      width: 100%;
      object-fit: cover;
      box-shadow: 20px -16px 5px #3a3a3a;
    }

    p {
      padding-top: 2rem;
      font-size: 1.3rem;
      color: #0c0c0c;
      font-weight: 500;
    }
  }
}

@media (max-width: 1440px) {
  .listContainer .box {
    flex: 1 0 calc(33.33% - 20px);
  }
}

@media (max-width: 1024px) {
  .listContainer .box {
    flex: 1 0 calc(50% - 20px);
    align-items: center;
  }
  .listContainer {
    .box {
      img {
        width: 70%;
      }
    }
  }
}

@media (max-width: 768px) {
  .textContainer {
    margin-top: 0;
    p {
      font-size: 1rem;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .titleContainer {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .listContainer .box {
    flex: 1 0 calc(100% - 20px);
  }
  .listContainer {
    .box {
      padding: 0;
      margin: 2px;
      img {
        box-shadow: 20px 13px 5px #3a3a3a;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
